
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 80px!important;
    height: 0!important;
    min-height: 40px;
    padding: 0 3px !important;
    margin: 3px 1px !important;
    text-transform: capitalize;    
}
::ng-deep.mat-tab-label:hover .icon-container {visibility: visible !important;}

::ng-deep .mat-paginator-page-size {display: none !important;}


.widget {
    position: absolute;
    top: 18px;
    right: 50px;
    width: 25px;
    height: 25px;

    .iconContainer {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.404);
        transition: background-color 0.5s ease;
        overflow: hidden;

        &:hover {
            background-color: rgba(255, 255, 255);
            
        }

        mat-icon:nth-of-type(1) {
            position: absolute;
            color: rgb(123, 23, 167);
            font-size: 1.2rem;
            display: flex;
            width: 50%;
            height: 50%;
            transform: translate(-25%, -25%);
            transition: transform .6s ease;

        }
        mat-icon:nth-of-type(2) {
            position: absolute;
            color: rgb(123, 23, 167);
            font-size: 1.2rem;
            width: 50%;
            height: 50%;
            transform: translateX(-25%) translateY(-25px);
            transition: transform .6s ease;
        }

    }
    span {
        position: absolute;
        right: 40px;
        top: 8px;
        width: 150px;
        text-align: right;
        text-transform: capitalize;
    }
    
    [type=file] {
        display: none;
    }
}





mat-card.calcCard {
    
    .table {
        margin-top: 30px;
        overflow-x: scroll;
        header, .content { width: 200%;}
        header {
            font-weight: bold;
            border-bottom: 4px solid #ddd;
            letter-spacing: 1.5px;
    
            & div { padding-bottom: 4px; }
        }

        .content {
            position: relative;
            
            .group {
                
                border-width: 0 0 0 1px;
                border-style: solid;
                border-color: #7b1fa2;
                margin: 0 0 5px 0;
                

                .groupHeader {
                    width: inherit;
                    height: 25px;
                    display: flex;
                    justify-content: flex-start;
                    padding: 3px 10px;
                    background-color: #7b1fa2;
                    color: white;
                    box-sizing: border-box;
                    input { text-align: left; }
                    input, select {
                        margin-right: 5px;
                    }
                    
                    span { min-width: 70px; }
                }        
            }
            hr {
                margin: 12px 0 0 0;
                & + span {
                    position: absolute;
                    top: -8px;
                    left: 50%;
                    padding: 0 10px;
                    transform: translateX(-50%);
                    background-color: #424242;
                }
            }

            .total {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                
                & div {
                    padding: 3px 5px;
                    text-align: center;
                }
            }
        }
    }

    .nameContainer {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: right;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.452);
        padding: 5px 0;
       
        a {
            display: visible;
            &:hover {
                color: royalblue;
                text-decoration: underline;
            }
        }
        div {
           display: none;
           height: 20px;
            .icon-container {
                width: 20px;
                height: 20px;
                display: flex;
                background-color: seagreen;
                border-radius: 2px;
                border: 1px solid #ddd;
                box-sizing: border-box;
                
                mat-icon {
                    font-size: 10px;
                    width: 10px;
                    height: auto;
                    
                }
            }
            input {
                margin-right: 2px;
                width: 70px;
            }
        }
    }

    input {
        border: none;
        text-align: center;
        text-transform: capitalize;

        &[disabled] {
            background-color: transparent;
            border: none;
            color: rgba(255, 255, 255); 
        }
    }
    
    .icon-container.closeTab {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 15px;
        height: 15px;
             
        mat-icon {
            font-size: 10px;
            vertical-align: middle;
            width: auto;
            height: auto;
        }

        &:hover {
            cursor: pointer;

            mat-icon { color: rgba(255, 255, 255); }
        }
    }

    .of_4 div {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-form-field { width: 100px; }
    }
}


